<h2><ins>Individual Project Planning Stage (Jairoop Brar - Group 33)</ins></h2>

<h3>Data Description</h3>

Our group will be generally be focusing on what type of players contribute the largest amount of data, and while more details about the question can be found under the **Questions** section, our analysis will primarily focus on the "players.csv" dataset, and as such, the following data description will work through and focus on just that dataset.

In [9]:
#importing libraries
library(tidyverse)
library(repr)
library(tidymodels)
library(cowplot)

In [58]:
#reading the dataset from a github url
players_raw_data <- read_csv("https://raw.githubusercontent.com/jai-o1/individual-project/refs/heads/main/players.csv",
                            col_names = c('experience', 'subcribed', 'hashed_email', 'hours_played', 'name', 'gender', 'age'),
                            skip = 1,    #skip the old column names
                            show_col_types = FALSE)

#making sure each vector is the right type of variable (eg: experience should be a categorical factor)
players_data <- players_raw_data |>
                mutate(experience = as.factor(experience),
                        gender = as.factor(gender),
                        age = as.integer(age))

players_data

    experience subcribed
1   Pro         TRUE
2   Veteran     TRUE
3   Veteran    FALSE
⋮   ⋮          ⋮
194 Amateur    FALSE
195 Amateur    FALSE
196 Pro         TRUE
    hashed_email
1   f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d
2   f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9
3   b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28
⋮   ⋮
194 d572f391d452b76ea2d7e5e53a3d38bfd7499c7399db299bd4fedb06a46ad5bb
195 f19e136ddde68f365afc860c725ccff54307dedd13968e896a9f890c40aea436
196 d9473710057f7d42f36570f0be83817a4eea614029ff90cf50d8889cdd729d11
    hours_played name      gender            age
1   30.3         Morgan    Male               9
2    3.8         Christian Male              17
3    0.0         Blake     Male              17
⋮   ⋮            ⋮         ⋮                 ⋮
194 0.0          Dylan     Prefer not to say 57
195 2.3          Harlow    Male              17
196 0.2          Ahmed     Other             NA

In [61]:
#summarizing data to get summary statistics for quantitative variables (hours_played, and age)
players_summary <- players_data |>
                    summarize(max_hours_played = max(hours_played), min_hours_played = min(hours_played), mean_hours_played = mean(hours_played),
                              max_age = max(age, na.rm = TRUE), min_age = min(age, na.rm = TRUE), mean_age = mean(age, na.rm = TRUE))
players_summary

  max_hours_played min_hours_played mean_hours_played max_age min_age mean_age
1 223.1            0                5.845918          58      9       21.13918

My group and I decided to focus our group project on question 2, as shown below, and specifically focusing on the player level of experience, gender, and whether they are subscribed or not, and for each of these individual factors leads to 

Focus on “Which player experience level (Pro, Veteran, Amateur, etc.) is associated with the lowest and highest total played hours?”